.App {
  text-align: center;
}

:root {
  --p1x: 50;
  --p1y: 100;
  --cp1x: 204;
  --cp1y: 5;
  --cp2x: 194;
  --cp2y: 209;
  --p2x: 30;
  --p2y: 50;
  --div-offset: -12px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}